		<!-- Step 1 -->
		<div class="hero-unit">
			<div class="container-fluid">
				<h1>lfswsrelay.js <small>An example, using Angular.js</small></h1>
				<h2>Connect to the Relay</h2>
				<p>lfswsrelay.js is a convenience wrapper to talk to the LFSWorld InSim Relay, using WebSockets.</p>
				<p>It takes care of connecting you, and decoding the packets, allowing you to get on with writing your application.</p>

				<p>Step one is to create an instance of the lfswsrelay.js client and connect to the relay.</p>

				<p>
					<a class="btn btn-primary btn-success" ng-click="connect()">
						<i class="icon icon-play icon-white"></i> Connect 
					</a>
				</p>
			</div>
		</div>

