		<!-- Step 3 -->
		<div class="hero-unit">
			<div class="container-fluid">
				<h2>Play with that Data</h2>
				<p>asdasd</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Host Information</li>
							<li><a href="#">Host Information</a></li>
							<li><a href="#">Connection List</a></li>
							<li><a href="#">Player List</a></li>
							<li class="nav-header">Debug Information</li>
							<li><a href="#">Packets Received</a></li>
							<li><a href="#">Send Packet</a></li>
						</ul>
					</div>
				</div>
				<div class="span9">
					span9
				</div>
			</div>
		</div>

