		<!-- Step 3 -->
		<div class="hero-unit">
			<div class="container-fluid">
				<h2>Play with that Data</h2>
				<p>Now that you're connected, you're receiving packets, and you
				can do whatever you can think of, with that data.</p>
				<p>You can maintain a live list of players, you can draw a live
				animated map.</p>
				<p>The limit is your imagination.</p>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Example Info</li>
							<li><a ng-click="template =	'partials/3-host.html'"><i class="icon icon-info-sign"></i> Host Information</a></li>
							<li><a ng-click="template =	'partials/3-connection.html'"><i class="icon icon-th-list"></i> Connection List</a></li>
							<li><a ng-click="template =	'partials/3-player.html'"><i class="icon icon-user"></i> Player List</a></li>
						</ul>
					</div>
				</div>
				<div class="span9">
					<div class="template-container" ng-include src="template">
						
					</div>
				</div>
			</div>
		</div>

